<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mysoft.debug_tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:supportsRtl="true">
        <provider
            android:name=".CDTFileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/debug_tools_file_paths"/>
        </provider>

        <activity
            android:name=".ui.activity.CDTActivity"
            android:theme="@style/_Theme"
            android:windowSoftInputMode="adjustResize">
        </activity>
    </application>

</manifest>